# =========================================
# 📌 ZONAS PRIVADAS — NO SUBIR A GITHUB
# =========================================

# Archivos críticos de configuración
config/
private/

# Parte del código fuente que no debe ser pública por seguridad
# Trabajadores
src/trabajadores/model
src/trabajadores/controller

# Usuarios
src/usuarios/model
src/usuarios/controller

# Vehículos
src/vehiculos/model
src/vehiculos/controller

# Ignorar SQL sensibles excepto los de /database/

!database/*.sql

# =========================================
# 🗄 LOGS / CACHES / TEMPORALES
# =========================================

*.log
*.tmp
*.cache
*.bak
*.old

# =========================================
# 📂 EDITORES / SISTEMAS OPERATIVOS
# =========================================

.vscode/
.idea/
.DS_Store
Thumbs.db